@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-blue: #073fcc;
    --color-black: #0c0c0c;
    --color-purple: #5f01ac;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
}

#person {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;

    background: var(--color-black);
}

.person-content {
    height: 70%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background: var(--color-black);
}

.person-content div h1 {
    padding: 0px 4px;
    color: white;

    font-size: 4.5rem;
    line-height: 6rem;
}

.person-content div h1:nth-child(3) {
    color: var(--color-purple);
}

.person-name {
    margin-top: 11rem;
}

.stacks-content {
    display: flex;
    justify-content: center;

    flex-direction: column;
    margin-top: 6rem;
}

.stacks-content h3 {
    color: var(--color-white);
    font-size: 1.15rem;

    margin-left: 20px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stacks ul li {
    display: flex;
    align-items: center;

    position: relative;

    margin: 10px;
    padding: 10px;

    list-style: none;
}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li div img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;

    width: 20px;
    height: 20px;

    color: var(--color-white);
}

.person-background {
    height: 100vh;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    flex-direction: column;

    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: top center;

    z-index: 1;
}

.person-background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    opacity: .7;
    z-index: -1;

    background:
        linear-gradient(90deg, transparent 30%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 65%, var(--color-black));
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px;
    margin: 20px 15px;
}

.profile-photo {
    border-radius: 50%;
    width: 50%;
}

.person-background h1 {
    color: var(--color-white);
    display: flex;
    font-size: 3.5vh;
}

.person-background h1:nth-child(2) {
    color: var(--color-purple);
}

.links a img {
    width: 30px;
    height: 30px;

    margin: 10px;
    filter: brightness(0.8);
    transition: all .3s ease;
}

.links a img:hover {
    transform: scale(1.15s);
    filter: brightness(1);
}

.btn-wrapper {
    display: flex;
    margin-top: 65px;
    top: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn-wrapper a {
    margin: 20px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #979797;
    border: 2px solid #979797;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 8px;
}

.btn-wrapper a span {
    position: relative;
    z-index: 2;

}

.btn-wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-purple);
    transition: all .35s;
}

.btn-wrapper a:hover {
    color: #fff;
}

.btn-wrapper a:hover:after {
    width: 100%;
}

.formacoes-screen {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../images/background-formacoes.jpeg);
    background-size: cover;
    background-position: top center;
    z-index: 1;
}

.formacoes-screen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 25;
    z-index: -1;
    background:
        linear-gradient(90deg, transparent 10%, var(--color-black)),
        linear-gradient(180deg, transparent 30%, var(--color-black)),
        linear-gradient(0deg, transparent 50%, var(--color-black));
}

.formacoes-screen h1 {
    color: rgb(1, 156, 177);
    display: flex;
    font-size: 50px;
    margin-top: -15px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.formacoes-square {
    background-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    border-radius: 7px;
}

.formacoes-text h2 {
    font-size: 28px;
    display: flex;
    color: rgb(169, 203, 247);
    padding: 20px;
}

.formacoes-text p {
    font-size: 18px;
    display: flex;
    color: #dbdbdb;
    font-style: italic;
    padding-top: 10px;
}

.formacoes-text h3 {
    display: flex;
    color: white;
    font-size: 17px;
}

.formacoes-text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    margin-right: 20vh;
}

.btn-back {
    display: flex;
    margin-top: 6px;
    margin-left: -33vh;
    transform: translate(-50%, -50%);
}

.btn-back a {
    margin: 20px;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #979797;
    border: 2px solid #979797;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 8px;
}

.btn-back a span {
    position: relative;
    z-index: 2;

}

.btn-back a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(1, 156, 177);
    transition: all .35s;
}

.btn-back a:hover {
    color: #fff;
}

.btn-back a:hover:after {
    width: 100%;
}

.formacoes-screen h4 {
    position: absolute;
    top: 35%;
    right: 30vh;
    color: white;
    display: flex;
    justify-content: right;
    font-size: 30px;
}

.links-email a img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45%;
    right: 36vh;
    filter: brightness(0.8);
}

.links-email a img:hover {
    transform: scale(1.15s);
    filter: brightness(1);
}

.links-phone a img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45%;
    left: 143vh;
    filter: brightness(0.8);
}

.links-phone a img:hover {
    transform: scale(1.15s);
    filter: brightness(1);
}




